<a href="https://colab.research.google.com/github/sonupp13/PROBLEM-SOLVING-PYTHON/blob/main/comprehensation.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

list comprehensation

In [ ]:
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
d=[x for x in numbers if x%2==0]
print(d)

[2, 4, 6, 8, 10]

In [ ]:
s=[x**2 for x in range (1,10)]
print(s)

[1, 4, 9, 16, 25, 36, 49, 64, 81]

In [ ]:
fruits = ["apple", "banana", "cherry", "kiwi", "mango"]
s=[i for i in fruits if "a" in i]
print(s)

['apple', 'banana', 'mango']

In [ ]:
fruits = ["apple", "banana", "cherry", "kiwi", "mango"]
s=[x for x in fruits if x!="apple"]
print(s)

['banana', 'cherry', 'kiwi', 'mango']

In [ ]:
words = ['hello', 'world', 'python']
capitalized = [word.upper() for word in words]
print(capitalized)

['HELLO', 'WORLD', 'PYTHON']

In [ ]:
words = ['HELLO', 'WORLD', 'PYTHON']
small = [word.lower() for word in words]
print(small)

['hello', 'world', 'python']

In [ ]:
s=[1,2,3,4,5,6,7,8,9,10]
d=[x**2 for x in s]
print(d)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]